/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */

@font-face {
    font-family: "Good Times";
    src: url(/fonts/good-times-regular.ttf) format('truetype');
}

@font-face {
    font-family: "Digital medium";
    src: url(/fonts/digital-medium.ttf) format('truetype');
}

/* Style */

body {
    display: flex;
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #1b1b1b;

}

@media screen and (max-width: 767px) {
    html, body {
        width: 480px;
        height: 100%;
    }

    body {
        flex-direction: column;
    }

    header > ul {
        margin-top: 40px;
    }
}

header {
    margin: 20px;
}

header > h1 {
    text-transform: uppercase;
    font: 3.5rem bold, "Good Times";
    letter-spacing: .1rem;
    color: #ee8016;
}

header > h3 {
    text-transform: lowercase;
    font: 2rem bold, "Digital medium";
    letter-spacing: .4rem;
    color: #ffffff;
}

header > ul {
    width: 400px;
    display: inline-block;
    color: #ffffff;
    font: 1rem bold, "Digital medium";
    letter-spacing: .1rem;
    float: right;
    text-align: right;
}

#content {
    color: #ffffff;
    margin: 20px;
}

#content > h1,h2 {
    text-transform: capitalize;
    font: 1.5rem bold, "Digital medium";
    letter-spacing: .2rem;
    margin: .8rem 0;
}

#content > h3,h4,h5,h6 {
    text-transform: capitalize;
    font: 1.1rem bold, "Digital medium";
    letter-spacing: .1rem;
    margin: .5rem 0;
}

#content > p {
    color: #aaa;
    font-family: sans-serif;
    margin: .5rem 0;
}

#content span.text-bold {
    font-weight: bold;
    color: #ddd;
}

#content span.text-italic {
    font-style: italic;
}

#content a {
    color: #ddd;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#content a:visited {
    color: #57391d;
}
