{% extends '_base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" media="screen and (max-width: 767px)" href="{{ asset('mobile.css') }}"/>
    <link rel="stylesheet" media="screen and (min-width: 768px)" href="{{ asset('desktop.css') }}"/>
{% endblock %}

{% block body %}
<header>
    <h1>Deco'styl</h1>
    <ul>
        <li>
            ZA La Fosse aux loups
        </li>
        <li>
            50600 Saint Hilaire du Harcouët
        </li>
        <li>
            02.33.49.48.77
        </li>
    </ul>
    <nav>
        <a href="/accueil">Accueil</a>
        <a href="/accueil">Expertise</a>
        <a href="/accueil">Gallerie</a>
        <a href="/accueil">Contact</a>
    </nav>
</header>
<div id="content">
    <h1>Un très gros titre</h1>

    <h3>Un moyen titre</h3>

    <p>Du texte en vrac qui ne veut pas dire grand chose.</p>

    <p>Encore du texte qui n'apporte pas grand chose de plus. Si ce n'est que de temps en temps du texte peut figurer
        <span class="text-bold">en gras</span> ou en <span class="text-italic">en gras</span>.</p>

    <p>Enfin il est aussi possible de rajouter un <a href="https://www.pierrelemee.fr">lien vers un site</a>. </p>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
