{% extends '_base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('screen.css') }}">
{% endblock %}

{% block body %}
<h1>Deco'styl</h1>
<h3>www.deco-styl.com</h3>
<ul>
    <li>
        ZA La Fosse aux loups
    </li>
    <li>
        50600 Saint Hilaire du Harcouët
    </li>
    <li>
        02.33.49.48.77
    </li>
</ul>
{% endblock %}

{% block javascripts %}{% endblock %}
